{% extends "base.html" %}

{% block content %}
    
    <div id="content">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="col-md-8">
              <div class="card-head">
                <header style="background-color:#313534;color:#fff;">Patient List</header>
                <div class="card-body height-8">
                    {% if patient_list %}
                    <ul>
                
                      {% for patient in patient_list %}
                      <li style="font-size:20px;">
                        <a style="color:crimson;" href="{{ patient.get_absolute_url }}">{{ patient.firstname }}</a> using | ({{patient.device}})
                      </li>
                      {% endfor %}
                
                    </ul>
                    {% else %}
                      <p>There are no patients in the ward presently.</p>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
     <!--Menu set up -->
          <!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
          <div class="menubar-fixed-panel">
            <div>
              <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            <div class="expanded">
              <a href="{% url 'index' %}">
                <span class="text-lg text-bold text-primary ">REALDRIP</span>
              </a>
            </div>
          </div>
          <div class="menubar-scroll-panel">
  
            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">
  
              <!-- BEGIN DASHBOARD -->
              <li>
                <a href="{% url 'index' %}" class="active">
                  <div class="gui-icon"><i class="md md-home"></i></div>
                  <span class="title">Dashboard</span>
                </a>
              </li><!--end /menu-li -->
              <!-- END DASHBOARD -->
  
              <!-- BEGIN PATIENT -->
              <li class="gui-folder">
                <a>
                  <div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
                  <span class="title">Patients</span>
                </a>
                <!--start submenu -->
                <ul>
                  <li><a href="{% url 'patients' %}" ><span class="title">Patients List</span></a></li>
                  <li><a href="{% url 'patient_create' %}" ><span class="title">Register Patient</span></a></li>
                </ul><!--end /submenu -->
              </li><!--end /menu-li -->
              <!-- END PATIENT -->
  
              <!-- BEGIN DEVICE -->
              <li class="gui-folder">
                <a>
                  <div class="gui-icon"><i class="fa fa-table"></i></div>
                  <span class="title">Device</span>
                </a>
                <!--start submenu -->
                <ul>
                  <li><a href="{% url 'devices' %}" ><span class="title">Device List</span></a></li>
                  <li><a href="{% url 'device_create' %}" ><span class="title">Register Device</span></a></li>
                </ul><!--end /submenu -->
              </li><!--end /menu-li -->
              <!-- END DEVICE -->
  
              <!-- BEGIN USER -->
              <li class="gui-folder">
                <a>
                  <div class="gui-icon"><span class="md md-account-box"></span></div>
                  <span class="title">{{ user.get_username }}</span>
                </a>
                <!--start submenu -->
                <ul>
                  <li><a href="{% url 'password_change' %}" ><span class="title">Change Password</span></a></li>
                  <li><a href="{% url 'logout' %}" ><span class="title">Logout</span></a></li>
                  
                </ul><!--end /submenu -->
              </li><!--end /menu-li -->
              <!-- END USER -->
  
              <!-- BEGIN SETTINGS -->
              <li>
                <a href="" >
                  <div class="gui-icon"><i class="md md-settings-overscan"></i></div>
                  <span class="title">Settings</span>
                </a>
              </li><!--end /menu-li -->
              <!-- END CHARTS -->
            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->
  
            <div class="menubar-foot-panel">
              <small class="no-linebreak hidden-folded">
                <span class="opacity-75">Copyright &copy; 2018</span> <strong>RealDrip</strong>
              </small>
            </div>
          </div><!--end .menubar-scroll-panel-->
        </div><!--end #menubar-->
        <!-- END MENUBAR -->   
{% endblock %}